.Box {
    height: 150px;
    width: 150px;
}

.Box-color-lightblue {
    background-color: #7ef6fc;
}

.Box-color-medblue {
    background-color: #7eb7fc;
}

.Box-color-mintgreen {
    background-color: #7efcc3;
}

/* Experimenting by adding more colors */

.Box-color-darkteal {
    background-color: #448689;
}

.Box-color-darkblue {
    background-color: #446389;
}

.Box-color-shadygreen {
    background-color: #44896a;
}