.RollDice {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.RollDice-Die-Container {
    display: flex;
    flex-direction: row;
    margin: 1rem;
}