.RollDice {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.RollDice-Die-Container {
    display: flex;
    flex-direction: row;
    margin: 1rem;
    margin-top: 3rem;
}

.RollDice-Button-Container {
    margin-top: 3rem;
}

button {
    color: #fff;
    font-size: 1.25rem;
    background-color: #000;
    height: 4rem;
    width: 14rem;
    border-radius: 0.75rem;
    border: 0px;
}

button:hover {
    background-color: red;
    cursor: pointer;
}